$background-color: #f4f4f4;
$white-color: #232323;
$link-color: #f4f4f4;

$NavBGColor: #259ac7;
$AboutBGColor: #259ac7;
$ExperienceBGColor: #dcdcdc;
$EducationBGColor: #259ac7;
$SkillsBGColor: #dcdcdc;

$TitleTextColor: black;
$borderColor: black;
$BGcolor: white;
$codeColor: #259ac7;

@import 'App'